/* nav bar style - https://codepen.io/ScottMarshall/pen/JoGWEX */
  

/*
*
* ==========================================
* CUSTOM UTIL CLASSES  FOR TAB
* ==========================================
*/
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/* card style https://bbbootstrap.com/snippets/bootstrap-ecommerce-product-list-carousel-and-custom-radio-buttons-62651409 */

.card{
    /* background: #eee */
    background-color: rgb(46, 45, 45);
    color: white;
}

.card:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.card:hover img {
    filter: brightness(110%);
}

.fa-star {
    color: rgb(235, 143, 22)
}

/* carosel items */
/*https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=thumbnail-carousel*/
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {	
	margin: 30px auto 50px;
	padding: 0 68px;
}
.carousel .carousel-item {
    text-align: center;
	overflow: hidden;
    height: 160px;
}
.carousel .carousel-item .img-box {
	background: #fff;
	padding: 9px;
	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
}
.carousel .carousel-item img {
    margin: 0 auto;
}
.carousel .carousel-control-prev, .carousel .carousel-control-next{
	width: 68px;
	background: none;
}
.carousel .carousel-control-prev i, .carousel .carousel-control-next i{
    font-size: 28px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}


/*https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */

.hover-container {
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #93d7ee54;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .hover-container:hover .overlay {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }